@font-face {
  font-family: 'Amatic SC', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  background-color: #fec1c1;
}

h1 {
  font-family: 'Noto Serif', Georgia, serif;
  font-weight: 300;
  margin: 0;
  text-decoration: none;
}

header {
  background-color: #fec1c1;
  color: white;
  padding: 1rem;
  text-decoration: none;
  display: flex;
  gap: 20px;
}

header a {
  color: #00A79D;
  text-decoration: none;
  display: flex;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
  align-content: space-around;
}

.card {
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 2fr 1fr;
  border-radius: 50%;
}

.card-image:hover {
  border-color: #ff6573;
  outline: 0;
  -webkit-box-shadow: inset 5px rgba(0,0,0,.075), 0 0 8px #ff6566(102, 175, 233, 0.6);
  box-shadow: inset 5px rgba(0,0,0,.075), 0 0 8px #ff6566;
}

.card-image {
  align-items: center;
  display: grid;
  justify-content: center;
  border: 4px solid white;
  align-content: space-around;
  gap: 20px;
}

.form-horizontal {
  color: #ff6556;
  font: Georgia, bold;
}

.cupCake {
  width : 50px;
  height: 50px;
  display: flex;
}

.ingredients {
  list-style-type: none;
  padding-top: 20px;
  color: #00312e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image {
  padding-top: 30px ;
}

p {
  padding: 20px;
  color: #00312e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.dessert-title {
  font-family: 'Amatic SC', cursive;
  color: #ff6566;
}

button {
  background-color: hotpink;
}

h2 {
  padding-bottom: 30px;
  color: #ff6566;
}


